@using WebClient.Models.DTOs.Envio
@model EnvioCompletoListadoDTO

<h1>Envíos</h1>

<div class="d-flex justify-content-between align-items-center mb-3">
    <form action="/Envio/BuscarPorTracking" class="d-flex gap-2 align-items-center">
        <input type="text" name="numeroTracking" class="form-control form-control-sm" placeholder="Número de tracking" />
        <button type="submit" class="btn btn-primary btn-sm">Buscar</button>
    </form>
</div>

@if (Model == null)
{
    @if (ViewBag.Mensaje != null)
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewBag.Mensaje
        </div>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Número de tracking</th>
                <th>Tipo de envío</th>
                <th>Fecha de salida</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.NumeroTracking</td>
                <td>@(Model.EsUrgente ? "Urgente" : "Común")</td>
                <td>@Model.Fecha.ToShortDateString()</td>
                <td>@(Model.Estado == "EN_PROCESO" ? "En proceso" : "Finalizado")</td>
            </tr>
        </tbody>
    </table>

    <h4>Comentarios</h4>
    @if (Model.Comentarios != null && Model.Comentarios.Any())
    {
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Comentario</th>
                    <th>Empleado ID</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var comentario in Model.Comentarios)
                {
                    <tr>
                        <td>@comentario.TextoComentario</td>
                        <td>@comentario.Empleado</td>
                        <td>@comentario.FechaComentario.ToString("dd/MM/yyyy HH:mm")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p><em>Este envío no tiene comentarios.</em></p>
    }
}
